:root {
    color-scheme: dark light;
    --footer-spacing: 20vh;
    --footer-bg-light: #2b2a33;
    --footer-bg-dark: #1c1b22;
}
*, *::before, *::after {
    box-sizing: border-box;
    font-size: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    height: calc(100vh - var(--footer-spacing));
}

.wrapper {
    max-width: 600px;
    margin: auto;
}

.mode-header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    border-bottom: 3px solid rgb(116, 116, 116);
}

.main__top{
    margin-bottom: 4.5rem;
}

.main__middle {
    bottom: 0px;
}

.mode-start {
    transition: all .15s ease-in-out;
    margin-top: 20px;
}

.mode-start[data-mode="checker"]{
    transform: translateY(-20px);
    opacity: 0;
}

.mode-start[data-mode="game"]{
    transform: translateY(20px);
    opacity: 100;
}

.game-start {
    flex-grow: 7;
}

.settings {
    flex-grow: 1;
}

/* Utility Classes */

.flex {
    display: flex;
}

/*                */

#user-input {
    width: 100%;
    height: 3em;
    text-align: center;
    border-bottom: 10px solid yellow;
}

.dropdown {
    width: 15rem;
    text-align: center; 
}

.dropdown option {
    font-size: 1rem;
}

#mode {
    width: 50px;
    border-radius: 10px;
    margin: 0 auto;
}

.footer__content {
    text-align: center;
    height: var(--footer-spacing);
    background: var(--footer-bg-light);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__icon {
    width: 40px;
    aspect-ratio: 1;
}

.social_icons img {
    background-color: var(--footer-bg-dark);
    border-radius: 50%;
}

#settings-modal {
    margin: auto;
    padding: 20vh 10vw;
    position: relative;
}

#settings-modal::backdrop {
    background: rgba(0, 0, 0, 0.284);
    backdrop-filter: blur(2px);
}

.close-modal {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 0;
    right: 5px;
    top: 5px;
    
}